.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 16px;
	flex: 1;
	border: 1px solid hsl(var(--border));

	padding: 24px;
	margin: 24px 0;
	background-color: hsl(var(--white-background));
	border-radius: 16px;

	.categories {
		position: sticky;
		top: 0;
		top: 112px;
		height: 100%;
		height: calc(100% - 112px);
		overflow-y: auto;

		scrollbar-width: none;
	}

	.menu {
		flex: 1;
		overflow-y: auto; /* Позволяет прокручивать содержимое меню */
	}

	.information {
		position: sticky;
		top: 0;
		top: 112px;
		height: 100%;
		height: calc(100% - 112px);
		overflow-y: auto;
	}
}
