.footer {
	border-top: 1px solid hsl(var(--border));
	width: 100%;
	background-color: hsl(var(--white-background));

	.container {
		display: flex;
		flex-direction: row;
		padding: 16px 24px;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	.map {
		width: 500px;

		@media (max-width: 1024px) {
			width: 350px;
		}
	}
}
