.header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 112px;
	z-index: 10;

	border-bottom: 1px solid hsl(var(--border));
	background-color: hsl(var(--white-background));

	.olena {
		font-family: var(--font-vibes);
		font-weight: 400;
		margin-left: 4px;
		color: hsl(var(--background));
		font-size: 48px;
	}
}
