.information_block {
	display: flex;
	gap: 14px;
	margin-bottom: 16px;
	transition: color 0.3s ease-in-out;

	&:hover {
		color: hsl(var(--primary));
		cursor: pointer;
	}

	.icon {
		display: flex;
		margin-top: 8px;
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: 13px;
		font-weight: 500;
	}

	&__text {
		font-size: 14px;
		font-weight: 700;
		line-height: 21px;

		@media (max-width: 768px) {
			font-weight: 400;
		}
	}
}

.drawer_block {
	display: flex;
	align-items: center;
	gap: 14px;
	margin-bottom: 16px;
	transition: border-color 0.3s ease-in-out;
	padding: 16px 0;

	border-bottom: 1px solid hsl(var(--border));

	&:hover {
		border-color: hsl(var(--primary));
		cursor: pointer;
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: 13px;
		font-weight: 500;
	}

	&__text {
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
	}
}
