.information_block {
	display: flex;
	gap: 14px;
	margin-bottom: 16px;
	transition: color 0.3s ease-in-out;

	&:hover {
		color: hsl(var(--primary));
		cursor: pointer;
	}

	.icon {
		display: flex;
		margin-top: 8px;
	}

	.info {
		display: flex;
		flex-direction: column;

		.title {
			font-size: 13px;
			font-weight: 500;
		}

		.text {
			font-size: 14px;
			font-weight: 600;
			line-height: 21px;
		}
	}
}
