.productsGroupList {
	border: 2px solid hsl(var(--border));
	border-radius: 20px;
	margin-bottom: 14px;

	@media (max-width: 768px) {
		border: 0px;
		border-radius: 0;
		margin-bottom: 0;
	}

	.title {
		background: hsl(var(--gray));
		padding: 16px;
		text-align: center;
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		border-bottom: 2px solid hsl(var(--border));

		text-transform: uppercase;

		@media (max-width: 768px) {
			text-align: start;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}
